.logotitle {
  font-size: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  display: block;
  padding: 2rem 3rem;
  transition: text-shadow 0.3s, border 0.3s;
  color: var(--color-primary);
  z-index: 10;
}
.linkwrapper {
  margin-inline: auto;
  cursor: pointer;
  text-align: center;
}
.fullLayout {
  width: 100%;
  background-color: var(--color-primary);
  outline: 2px solid purple;
}

.mainlogowrapper {
  margin-inline: auto;
  // cursor: pointer;
  text-align: center;
  background-color: var(--color-primary-1);
  color: var(--color-primary);
  display: block;
  width: 100%;
}
.fulllayoutlogo {
  background-color: var(--color-primary-1);
  text-align: left;
  & h1 {
    font-size: 2rem;
  }
}
