.container {
  min-height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-width: 70rem;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}
.searchBox {
  width: clamp(8rem, 18rem, 40rem);
  // width: 100%;
  position: relative;
  // overflow: visible;
  box-shadow: 0 0 8px #33333338;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;

  &::after {
    content: " ";
    position: absolute;
    // padding: 1rem 0;
    top: 1.2rem;
    left: 1rem;
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-image: url("../../images/searchicon.png");
    background-size: contain;
    background-position: 0% 0%;
    z-index: 10;
    pointer-events: none;
  }
}
.searchBoxInput {
  width: 100%;
  border: none;
  // box-shadow: 0 0 8px #33333338;
  border-radius: 10px;
  padding: 1.2rem 0.75rem 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 0.9rem;
  font-family: "Rubik";
  background-color: #ffffff00;
  transition: border 0.3s;
  &:focus,
  &:focus-visible,
  &:active {
    outline: none;
    // border: 1px solid #999;
  }
  &::-webkit-input-placeholder {
    text-transform: none;
    letter-spacing: 0;
  }
  &:-moz-placeholder {
    text-transform: none;
    letter-spacing: 0;
  }
  &::-moz-placeholder {
    text-transform: none;
    letter-spacing: 0;
  }
  &:-ms-input-placeholder {
    text-transform: none;
    letter-spacing: 0;
  }
  &::placeholder {
    text-transform: none;
    letter-spacing: 0;
  }
}

.description {
  margin-top: 4rem;
  // width: clamp(5rem, 50%, 30rem);
  // width: clamp(8rem, 100%, 60rem);
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  position: absolute;
  // left: 0;
  bottom: 15%;
  display: block;
  & p {
    margin-top: 1rem;
  }
}
.icon {
  display: inline-block;
  // margin-right: 0.5rem;
  height: 20px;
  width: 40px;
  margin-bottom: -5px;
}

.searchResultBox {
  opacity: 1;
  height: 3rem;
}
.stockDiv {
  width: 100%;
  display: block;
  height: 100%;
  position: relative;
  // outline: 2px solid purple;
  overflow: visible;
  display: flex;
  flex-direction: column;
  & > * {
    width: 100%;
  }
}
