// 768px is tablet size

.wrapper {
  width: 96%;
  max-width: 105rem;
  height: 100%;
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 1rem;
  margin-inline: auto;
  & * {
    transition: all 0.3s;
  }
}

.graphDiv,
.searchDiv {
  width: 100%;
  height: 100%;
  display: block;
  min-height: 12rem;
  & h2 {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 0.4px;
  }
}
.graphDiv {
  padding: 1rem;
  // background-color: #eeeeff;
  // border-right: 1px solid #ddd;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.graph {
  width: 100%;
  display: block;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  grid-column: 1 / -1;
  grid-row: span 1;
  & div:nth-of-type(1) {
    flex: 1 1 100%;
  }
  & div:nth-of-type(2) {
    flex: 1 1 100%;
  }
  & h2 {
    font-size: 2.2rem;
    letter-spacing: 3px;
  }
  & h3 {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 1.8rem;
  }
}
.priceDiv {
  text-align: right;
  margin-top: -1.5rem;
  & p,
  & h3 {
    display: inline-block;
  }
  & div p {
    margin-right: 0.75rem;
    font-size: 0.8rem;
    color: #999;
  }
  & > div {
    display: inline-block;
  }
}
.mainStats {
  border-radius: 10px;
  border: 1px solid #ddd;
  grid-column: 1 / -1;
  grid-row: span 1;
  max-height: 5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  // max-width: 30rem;
  outline: none;
  border-collapse: separate;
  table {
  }
  th {
    font-weight: normal;
    font-size: 0.8rem;
    text-transform: uppercase;
    color: #aaa;
    padding: 0.9rem 0.5rem 0.1rem;
    &:last-child {
      padding-right: 1.4rem;
    }
    &:first-child {
      padding-left: 1.4rem;
    }
  }
  & td {
    font-weight: normal;
    padding: 0.1rem 0.5rem 0.9rem;
    text-align: center;
    &:last-child {
      padding-right: 1.4rem;
    }
    &:first-child {
      padding-left: 1.4rem;
    }
  }
  & * {
    border-radius: 10px;
    outline: none;
    border-image: transparent 0 solid;
    border-image-width: 0px !important;
  }
  & tr {
    border-radius: 10px;
  }
  & td,
  & th {
    // width: 7rem;
    // padding: 5px 10px;
    text-align: center;
  }
}
.searchDiv {
  padding: 1rem;
  background-color: #fcfcfc;
  position: relative;
  max-width: 30rem;
  margin-inline: auto;
  box-shadow: 0 0 25px #88888828 inset;
  border-radius: 4px;
  animation: 3s skeletonanimation 3s infinite alternate ease;
}

.correlationsDiv {
  width: 100%;
  height: 100%;
  grid-column: 1 / -1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  border-top: 1px solid #eee;
  padding-top: 2rem;
  margin-top: 2rem;
  & > h3 {
    width: 100%;
    font-size: 1.4rem;
  }
  & > div {
    // width: clamp(12rem, 100%, 14rem);
    max-width: 18rem;
    flex: 2 1 auto;
    margin-top: 1rem;
  }
}

.firstStockPrice,
.secondStockPrice {
  outline-width: 1px;
  outline-style: solid;
  border-radius: 10px;
  padding: 15px;
}
.firstStockPrice {
  outline-color: var(--color-primary-3);
  background-color: var(--color-primary-1);
}
.secondStockPrice {
  outline-color: var(--color-secondary-3);
  background-color: var(--color-secondary-1);
}

@media (min-width: 868px) {
  .wrapper {
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
  }
  .mainInfo {
    flex-direction: row;
    & div:nth-of-type(1) {
      flex: 1 1 50%;
    }
    & div:nth-of-type(2) {
      flex: 1 1 50%;
    }
  }
  .priceDiv {
    text-align: right;
    margin-top: 0;
  }
  .graphDiv {
    grid-column: 1 / -4;
  }
  .searchDiv {
    grid-column: -4 / -1;
  }
  .mainStats {
    grid-column: 2 / -2;
    grid-row: 2 / 3;
  }
}
