/* --- Custom  --- */

/* Global definitions */

:root {
  --color-primary: #e8b023;
  --color-primary-1: #fff1cd88;
  --color-primary-2: #f5c549;
  --color-primary-3: #e8b023;
  --color-primary-4: #c79924;
  --color-secondary: #188aca;
  --color-secondary-1: #e8f7ff88;
  --color-secondary-2: #61b2df;
  --color-secondary-3: #188aca;
  --color-secondary-4: #1677ad;
  --color-secondary-5: #115f8b;
}
h3,
h4,
h5 {
  font-weight: normal;
}
h4 {
  text-transform: uppercase;
  margin-bottom: 0.7rem;
  font-size: 0.9rem;
  letter-spacing: 0.2px;
}

.card {
  width: 100%;
  background-color: #fff;
  display: inline-block;
  padding-left: 0.5rem;
  padding: 0.75rem;
  z-index: 40;
  cursor: pointer;
  border: none;
  outline: none;
  text-align: left;
  // box-shadow: 0 0 8px #333333a8;
  color: #777;
  border-top: 1px solid #eeeeeea8;
  &:hover {
    background-color: #f9f9f9;
  }
  &:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}
.cardoutlined {
  border: 1px solid #ddd;
  border-radius: 9px;
  width: 100%;
  margin-bottom: 0.5rem;
}
.cardgrey {
  & .badge {
    background-color: #bbb;
  }
}

.badge {
  background-color: var(--color-primary);
  color: white;
  border-radius: 6px;
  display: inline-block;
  padding: 5px 14px;
  margin-right: 12px;
  width: 4rem;
  text-align: center;
  font-size: 0.8rem;
  letter-spacing: 3;
  // font-weight: bold;
}

.skeleton {
  background-color: #eee;
  color: #eee;
  background: linear-gradient(327deg, #ddd, #f6f6f6, #ddd);
  background-size: 400% 400%;
  -webkit-animation: skeletonanimation 2s ease infinite;
  -moz-animation: skeletonanimation 2s ease infinite;
  animation: skeletonanimation 2s ease infinite;
  // transition: background-color 0.2s, color 0.2s;
}
@-webkit-keyframes skeletonanimation {
  0% {
    background-position: 13% 0%;
  }
  50% {
    background-position: 88% 100%;
  }
  100% {
    background-position: 13% 0%;
  }
}
@-moz-keyframes skeletonanimation {
  0% {
    background-position: 13% 0%;
  }
  50% {
    background-position: 88% 100%;
  }
  100% {
    background-position: 13% 0%;
  }
}
@keyframes skeletonanimation {
  0% {
    background-position: 13% 0%;
  }
  50% {
    background-position: 88% 100%;
  }
  100% {
    background-position: 13% 0%;
  }
}

.splash {
  animation: splash 1s ease;
}

@-webkit-keyframes splash {
  0% {
    background-position: 13% 0%;
  }
  50% {
    background-position: 88% 100%;
  }
  100% {
    background-position: 13% 0%;
  }
}
@-moz-keyframes splash {
  0% {
    background-position: 13% 0%;
  }
  50% {
    background-position: 88% 100%;
  }
  100% {
    background-position: 13% 0%;
  }
}
@keyframes splash {
  0% {
    background-position: 13% 0%;
  }
  50% {
    background-position: 88% 100%;
  }
  100% {
    background-position: 13% 0%;
  }
}
