.gridwrapper {
  // min-height: 100vh;
  // padding: 0 0.5rem;
  // width: 100vw;
  text-align: center;
  position: relative;
  height: 55vh;
  margin-top: 22%;
  margin-bottom: 10%;
  display: block;
  & > * {
    display: block;
    margin-inline: auto;
  }
}
.mainlogo {
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 20rem;
}
.searchBox {
  position: absolute;
  top: 75%;
  left: 50%;
}
.stockcard {
  margin-top: 2rem;
}
.attribution {
  position: absolute;
  bottom: 3rem;
  // right: 0;
  // left: calc(50% - 4rem);
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1.5rem;
  font-size: 0.85rem;
  color: #aaa;
  transition: color 0.2s, border-bottom 0.2s;
  a {
    // text-decoration: underline;
    transition: color 0.2s, border-bottom 0.2s;
    padding-bottom: 4px;
    border-bottom: 1px solid #ddd;
    &:hover {
      color: #666;
      border-bottom: 1px solid #666;
    }
  }
}
