.gridwrapper {
  // min-height: 100vh;
  // padding: 0 0.5rem;
  // width: 100vw;
  text-align: center;
  position: relative;
  height: 55vh;
  margin-top: 22%;
  margin-bottom: 10%;
  display: block;
  & > * {
    display: block;
    margin-inline: auto;
  }
}
.mainlogo {
  position: absolute;
  top: 0%;
  left: 0%;
  max-width: 20rem;
}
.searchBox {
  position: absolute;
  top: 75%;
  left: 50%;
}
.stockcard {
  margin-top: 2rem;
}
